@import "styles/helper/variables";

.nav {
  /* TODO: 추가 작업 예정 */

  &__menu {
    /* TODO: 추가 작업 예정 */
    display: flex;
    justify-content: end;

    svg {
      /* margin-top: 1.9rem; */
    }

    &__title {
      color: $white !important;
      padding-left: 5px;
    }
  }
}
