@import "./variables";

.ant-menu-item-active {
  background-color: $grey-gradient03 !important;
}
.ant-menu-item-selected {
  background-color: $active-color-menu !important;
  font-size: 1.7rem !important;
}
.ant-menu-vertical .ant-menu-submenu-selected {
  background-color: $active-color-menu !important;
  font-size: 1.7rem !important;
}
