$dark: #000;
$black : #303030;
$white : #ffff;
$yellow: #ffb500;

$yellow-gradient01: #f7be33;
$yellow-gradient02: #f8cc60;
$yellow-gradient03: #f8da91;
$yellow-gradient04: #fae6b5;

$green: #21b051;

$green-gradient01: #6fca2c;
$green-gradient02: #72ae85;
$green-gradient03: #90b971;
$green-gradient04: #c0d9ae;
$main-color:#08387a;
$main-background: #f2f3f5;
$header-background: #f2f3f5;
$main-font-color: #535353;

$blue-gradient01: #3482d5;

$grey-gradient01:#d1d1d118;
$grey-gradient02:#c9c9c9;
$grey-gradient03: #59595a;
$red:#fe593b;
$comp-color:#293046;
$background-color:#161d32;
$active-color-menu:#6159c9;
$active-color:#1890ff;
$hover-color:#91d5ff;
$font-color:#eff5fc;

$comp-color-blue:#0050b3;
$background-color-light-green:15D671;
$background-color-blue:#05264c;
$border-color-blue:#044289;

$warning:#ef5f44;
