@import "styles/helper/variables";

.modal-login {
  .ant-modal {
    margin: unset;
    max-width: unset;
  }
  .ant-modal-centered::before {
    content: unset;
  }

  color: $white;
  width: unset !important;

  .ant-modal-close-icon {
    opacity: 0 !important;
  }

  &__spin {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    max-height: 800px;
    min-height: 300px;

    .ant-spin-dot-item {
      background-color: $green !important;
    }
  }

  /* &__iframe {
  } */
}
