@font-face {
  font-family: "Pretendard Light";
  font-style: normal;
  src:
    url("Pretendard/Pretendard-Light.subset.woff2") format("woff2"),
    url("Pretendard/Pretendard-Light.subset.woff") format("woff"),
    url("Pretendard/Pretendard-Light.subset.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard Regular";
  font-style: normal;
  src:
    url("Pretendard/Pretendard-Regular.subset.woff2") format("woff2"),
    url("Pretendard/Pretendard-Regular.subset.woff") format("woff"),
    url("Pretendard/Pretendard-Regular.subset.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard SemiBold";
  font-style: normal;
  src:
    url("Pretendard/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("Pretendard/Pretendard-SemiBold.subset.woff") format("woff"),
    url("Pretendard/Pretendard-SemiBold.subset.ttf") format("ttf");
}

@font-face {
  font-family: "Pretendard Bold";
  font-style: normal;
  src:
    url("Pretendard/Pretendard-Bold.subset.woff2") format("woff2"),
    url("Pretendard/Pretendard-Bold.subset.woff") format("woff"),
    url("Pretendard/Pretendard-Bold.subset.ttf") format("ttf");
}
