@import "styles/helper/variables";

.layout {
  height: 100vh;

  /* &__sider {
    .logo {
      background: rgb(255 255 255 / 30%);
      color: $white;
      font-weight: blod;
      height: 32px;
      line-height: 2.5rem;
      margin: 16px;
      text-align: center;
    }
  } */

  &__main {
    overflow-y: hidden;
    padding: 0;

    &__header {
      background: $black;
      display: flex;

      /* TODO: header fixed 처리 추후 작업 예정 */

      /* position: fixed;
      width: 100%;
      z-index: 1; */

      .icon {
        align-items: center;
        color: $background-color-light-green;
        display: flex;
        font-size: 1.4rem;
        margin-left: -2.4rem;
        margin-top: -0.1rem;
      }

      .title {
        align-items: center;
        align-self: stretch;
        color: $white;
        display: flex;

        /* flex: none; */
        flex-grow: 0;
        font-family: "Montserrat Bold";
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.2px;
        margin: 0 10px;
        margin-left: 1rem;
        margin-top: -0.1rem;
        order: 1;
        position: static;
        right: 0%;
        top: 0%;
      }
    }

    &__content {
      background: $white;
      margin-top: 0;
      overflow: auto;
    }
  }
}
