@import "../../../styles/helper/mixin";

h1 {
  @include content-header-title;
}

.swap {
  &__main {
    padding: 0 24px;

    .ant-page-header {
      padding: unset;
    }

    &__card {
      background-color: #0c81e0;
      height: 200px;
      width: 200px;
    }
  }

  &__estimated {
    padding: 0 24px;
  }

  &__transaction {
    padding: 0 24px;
  }
}
